@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    &:before {
        content: '';
        content: "";
        width: 100%;
        height: 100vh;
        background: linear-gradient(to left bottom, #2ec4b6, #0582CA, #006494, #003554, #051923);
        //background-image: url("../public/bg.jpg");
        //background-color: #2ec4b6;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.text-shadow {
    text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
    & .arrow-btn {
        transition: width 300ms ease;
        width: 50px;
    }

    &:hover {
        & .arrow-btn {
            width: 60px;
        }
    }
}

.react-multi-carousel-list {
    & .arrow-btn {
        transition: width 300ms ease;
        width: 50px;

        &:hover {
            width: 60px;
        }
    }

}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

// About
article {
    position: relative;
    overflow: hidden;
    width: 2rem;
    border-radius: 0.5rem;
    height: 30rem;
    display: flex;
    opacity: 0.9;
    transition: 0.5s;
}

article.active {
    width: 34rem;
    opacity: 1;
}

article .content {
    position: relative;
    width: 34rem;
    z-index: 1;
    opacity: 1;
    visibility: hidden;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    transform: 0.25s;
}

article.active .content {
    opacity: 1;
    visibility: visible;
}

// NavigayionBar
.navback {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 10px;
    right: 10px;
    aspect-ratio: 1/1;
    translate: 50% -50%;
    height: 88px;
    //background-color: #ff9f1c;
    background-color: #2ec4b6;
    border-radius: 50%;
    opacity: 0;
    transition-delay: 5000ms;
    transition: 1s;
    visibility: hidden;
}

.navback.open {
    height: 300vh;
    opacity: 1;
    transition-delay: 0s;
    visibility: visible;
}

.menu {
    position: absolute;
    z-index: 2;
    top: 4em;
    left: 0;

    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.menu.open {
    visibility: visible;
    opacity: 1;
    transition: 3.5s;
}

.hamburger {
    z-index: 10;
    cursor: pointer;
}
